 <%- include('partials/header')-%>
   
 <h2>About us</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore doloribus exercitationem doloremque porro ab adipisci quo, quae perferendis consectetur est ex cum id, illum laudantium delectus obcaecati, nulla dignissimos ullam!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore doloribus exercitationem doloremque porro ab adipisci quo, quae perferendis consectetur est ex cum id, illum laudantium delectus obcaecati, nulla dignissimos ullam!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore doloribus exercitationem doloremque porro ab adipisci quo, quae perferendis consectetur est ex cum id, illum laudantium delectus obcaecati, nulla dignissimos ullam!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore doloribus exercitationem doloremque porro ab adipisci quo, quae perferendis consectetur est ex cum id, illum laudantium delectus obcaecati, nulla dignissimos ullam!</p>

    <%- include('partials/footer')-%>