
body{
    background-color: #FBF4E9;
    font-family: 'Itim', cursive;
}

h1,h2,h3,h4,h5,h6, p{
    color: #214252;
}


nav{
     background-color:transparent;
     height: 5rem;
     margin: 2%;
}
nav a{ 
    color: #214252;
;
}
nav p {
    margin: 0; 
    padding: 0;
    word-spacing:1px ;
    letter-spacing:3px ;
}

.welcome{
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color:  #214252;
    color: #FBF4E9;
    text-align: center;
  }

  footer h5{
    color: #FBF4E9;
    padding: 10px;
  }

  /* signup page */
.card_signup{
    background-color: #FBF4E9 ;
}
  .divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}

.btn_submit{
    background-color: #214252;
    color: #fcf876;
}
/* end of signup page */

/* post page */
.textTitle{
    width: 60%; margin: 1%;
}

.postlabel{
    margin-left: 1%;
}

.textPost{
    width: 60%;
    height: 170px;
    margin: 1%;
}

.h2post{
    margin-left: 1%;
}

/*end of post page */

/* blog page */

.blog {
    width: 50%;
    margin: 1%;
    margin-bottom: 50px;
    padding: 1%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 15px 7px 15px -3px rgba(203,203,203,0); 
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 15px 7px 15px -3px rgba(203,203,203,0);
}

.blog .btn{
    position: relative;
float: right;
}

/*end of blog page */

.preloader {
    background-color: #f7f7f7;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
    margin: 0 auto;
}

.preloader .preloader-circle {
    width: 200px;
    height: 200px;
    position: relative;
    border-style: solid;
    border-width: 3px;
    border-color: #ff0000;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0 rgba(105, 4, 4, 0.15);
    background-color: #fff;
    -webkit-animation: zoom 2000ms infinite ease;
    animation: zoom 2000ms infinite ease;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}
.preloader .preloader-circle2 {
    border-top-color: red;
}
.preloader .preloader-img {
    position: absolute;
    top: 50%;
    z-index: 200;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-top: 6px;
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s;
}

.preloader .preloader-img img {
    max-width: 55px;
}
.preloader .pere-text strong{
    font-weight: 800;
    color:#dca73a ;
    text-transform: uppercase;
}


@-webkit-keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	}

	@keyframes zoom {
		0% {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}

		100% {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
			-webkit-transition: .6s;
			-o-transition: .6s;
			transition: .6s;
		}
	} 
/* preloader
